<div class="home-btn d-none d-sm-block">
</div>
<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          
          <div class="card-body pt-0   mt-4">
            <div class="text-center mb-4" style="margin-top: 10%; margin-bottom:10%">
              <h4 class=" text-primary">
                Cancelled!
              </h4>
              <p> Payment has been Cancelled. Please try again.</p>
            </div>
          
          </div>
        </div>
        <div class="mt-5 text-center">
         
          <p>© {{year}} Fils Connect.</p>
        </div>

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->
