<div class="container-fluid">

    <app-page-title title="Charitable Drives" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Search</label>
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="keyword" (keyup)="search()"/>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="form-group ">
                  <label>Sort</label>
                  <select type="text" class="form-control" [(ngModel)]="order" (change)="sorting()">
                    <option ngValue="">Select</option>
                    <option ngValue="asc">Ascending</option>
                    <option ngValue="desc">Descending</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group ">
                  <label>Column</label>
                  <select class="form-control" [(ngModel)]="sortBy"  (change)="sorting()">
                    <option ngValue="">Select</option>
                    <option ngValue="category_name">Category Name</option>
                    <option ngValue="status">Status</option>

                  </select>
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="form-group">
                  <label>Entries</label>
                  <select type="text" class="form-control" [(ngModel)]="page.size" (change)="pageChange()">
                    <option value=10>10</option><option value=20>20</option>
                    <option value=30>30</option><option value=40>40</option>
                    <option value=50>50</option><option value=100>100</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <!-- <div class="form-group col-md-4">
                  <label style="visibility: hidden;">report</label>
                  <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      
                      <button type="button" (click)="export('csv')" class="btn btn-secondary">CSV</button>
<button type="button" (click)="export('xlsx')" class="btn btn-secondary">Excel</button>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-md-3">
                <div class="form-group col-md-12">
                  <label style="visibility: hidden;">report</label>
                  <div>
                  <div class="text-sm-right">
                    <button type="button" class="btn btn-primary mb-2 mr-2"  (click)="largeModal(largeDataModal)">
                      <i class="mdi mdi-plus mr-1"></i> Add New
                    </button>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box mr-2 mb-2 d-inline-block">
                  <!-- <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="keyword" (keyup)="search()"/>
                    <i class="bx bx-search-alt search-icon"></i>
                  </div> -->
                </div>
              </div>
              <div class="col-sm-8">
                <!-- <div class="text-sm-right">
                  <button type="button" class="btn btn-primary btn-rounded mb-2 mr-2"  (click)="largeModal(largeDataModal)">
                    <i class="mdi mdi-plus mr-1"></i> Add New Payout
                  </button>
                </div> -->
              </div>
              <!-- end col-->
            </div>
            <div class="table-responsive">
              <table class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                <thead>
                  <tr>
                    <th sortable="created_at" (sort)="onSort($event)">Created At</th>
                    <th sortable="start_date" (sort)="onSort($event)">Start Date</th>
                    <th sortable="end_date" (sort)="onSort($event)">End Date</th>
                    <th sortable="charity" (sort)="onSort($event)">Charity</th>
                    <th sortable="cause_name" (sort)="onSort($event)">Cause</th>
                    <!-- <th sortable="fils_commission" (sort)="onSort($event)">Tech Fee</th> -->
                    <th sortable="vendor_commission" (sort)="onSort($event)">Merchant Fee</th> 
                                       <th>QR Code</th>
                    <th sortable="approved" (sort)="onSort($event)">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let merchants of merchantsData  | filter:term ;let i = index;">
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.created_at |date}} </td>
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.start_date |date}} </td>
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.end_date |date}}</td>
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.charity}}</td>
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.cause_name}}</td>
                    <!-- <td> {{merchants.fils_commission |currency:'AED ':'code':'1.2-3'}}</td> -->
                    <td (click)="openModel2(merchants,templateDetail)">{{merchants.vendor_commission  |currency:'AED ':'code':'1.2-3'}}</td>
                    <td class="text-center">
                      <!--*ngIf="checkdate(merchants.start_date,merchants.end_date)" *ngIf="merchants.approved==0" -->
                      <div  ngbDropdown placement="bottom-right">
                        <a href="javascript: void(0);"  (click)="openQR(qrTemplate,merchants.drive_id)" class="dropdown-item " >
                          <i class='bx bx-barcode-reader'></i>
                        </a>
                      </div>
                    </td>
                    <td>
                      <a class="mr-3 font-size-12" target="_blank" href="/account/drive/{{merchants.drive_id}}/preview"  >
                        <i class='bx bx-expand text-secondary'></i>
                      </a>
                      <span class="badge badge-primary font-size-12" *ngIf="merchants.approved==2">
                       Pending
                      </span>
                      <span class="badge badge-success font-size-12" *ngIf="merchants.approved==0">
                        Approved
                       </span>
                       <span class="badge badge-danger font-size-12" *ngIf="merchants.approved==1">
                        Rejected
                       </span>
                    </td>
                   </tr>
                </tbody>
              </table>
            </div>
           
            <app-pagination [page]="pageCopy()" (newItemEvent)="changePage($event)"></app-pagination>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #largeDataModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{title}} Drive</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm" class="row">
                <div class="form-group col-md-6">
                  <label>Charity</label>
                  <select class="form-control" formControlName="charity_id" (change)="_getcauses($event.target.value)"
                    [ngClass]="{'is-invalid': typesubmit && type.charity_id.errors}">
                    <option [ngValue]="null" [disabled]="true" >Choose charity</option>
                    <option [ngValue]="x.user_id" *ngFor="let x of charities">{{x.business_name}}</option>
                  </select>
                  <div *ngIf="typesubmit && type.charity_id.errors" class="invalid-feedback">
                    <span *ngIf="type.charity_id.errors.required">Charity is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Cause</label>
                  <select class="form-control" formControlName="cause_id"
                    [ngClass]="{'is-invalid': typesubmit && type.cause_id.errors}">
                    <option [ngValue]="null" [disabled]="true" >Choose cause</option>
                    <option [ngValue]=x.id *ngFor="let x of causes">{{x.cause_name}}</option>
                  </select>
                  <div *ngIf="typesubmit && type.cause_id.errors" class="invalid-feedback">
                    <span *ngIf="type.cause_id.errors.required">Cause is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>From Date</label>
                  <input type="date" class="form-control" formControlName="start_date" [min]="title=='Add'?minDate:''"
                    [ngClass]="{'is-invalid': typesubmit && type.start_date.errors}"/>
                  <div *ngIf="typesubmit && type.start_date.errors" class="invalid-feedback">
                    <span *ngIf="type.start_date.errors.required">From Date is required.</span>
                    <span *ngIf="type.start_date.errors.invalid">From Date should be greater than current Date</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>End Date</label>
                  <input type="date" class="form-control" formControlName="end_date"
                    [ngClass]="{'is-invalid': typesubmit && type.end_date.errors}"/>
                  <div *ngIf="typesubmit && type.end_date.errors" class="invalid-feedback">
                    <span *ngIf="type.end_date.errors.required">End Date is required.</span>
                    <span *ngIf="type.end_date.errors.mustHigh">End Date should be greater.</span>

                  </div>
                </div>
                <div class="modal-header  col-md-12 mb-3 justify-content-center">
                  <h5 class="modal-title">Page Settings</h5>
                </div>
                <div class="form-group col-md-12">
                  <label>Heading</label>
                  <input type="text" class="form-control" formControlName="heading"  [ngClass]="{'is-invalid': typesubmit && type.heading.errors}">
                  <div *ngIf="typesubmit && type.heading.errors" class="invalid-feedback">
                    <span *ngIf="type.heading.errors.required">Heading is required.</span>
                  </div>
                  </div>
                <div class="form-group col-md-6">
                <label>Color</label>
                <input type="text" class="colorpicker-default form-control" [value]="color" formControlName="color" [(colorPicker)]="color" placeholder="Enter color code"
                [cpOutputFormat]="'hex'" [cpPosition]="'bottom'"(colorPickerChange)="typeValidationForm.controls.color.setValue($event)" [ngClass]="{'is-invalid': typesubmit && type.color.errors}">
                <div *ngIf="typesubmit && type.color.errors" class="invalid-feedback">
                  <span *ngIf="type.color.errors.required">Color is required.</span>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Image</label><span class="text-muted font-size-10 "> ( 500*300 jpg/jpeg/png files of maximum 2MB )</span>
                  <div>
                    <input type="file"  (change)="onFileSelected($event)" formControlName="logo_path"
                      [ngClass]="{'is-invalid': (typesubmit && type.logo_path.errors || (sizeError|| !imageType))}">
                    <div *ngIf="typesubmit && type.logo_path.errors" class="invalid-feedback">
                      <span *ngIf="type.logo_path.errors.required">Image is required.</span>
                    </div>
                    <div class="invalid-feedback">
                      <span  *ngIf="sizeError==true">
                        Image size cannot exceed 2MB.
                     </span>
                     <span *ngIf="imageType==false">
                         Invalid Image file.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Message</label>
                  <textarea class="form-control" formControlName="message" placeholder="Enter message"
                    [ngClass]="{'is-invalid': typesubmit && type.message.errors}"></textarea>
                  <div *ngIf="typesubmit && type.message.errors" class="invalid-feedback">
                    <span *ngIf="type.message.errors.required">Message is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Message 2</label>
                  <textarea class="form-control" formControlName="message2" placeholder="Enter message2"
                    [ngClass]="{'is-invalid': typesubmit && type.message2.errors}"></textarea>
                  <div *ngIf="typesubmit && type.message2.errors" class="invalid-feedback">
                    <span *ngIf="type.message2.errors.required">Message 2 is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Message 3</label>
                  <textarea class="form-control" formControlName="message3" placeholder="Enter message3"
                    [ngClass]="{'is-invalid': typesubmit && type.message3.errors}"></textarea>
                  <div *ngIf="typesubmit && type.message3.errors" class="invalid-feedback">
                    <span *ngIf="type.message3.errors.required">Message 3 is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Payment Type</label>
                  <select class="form-control" formControlName="payment_type" 
                    [ngClass]="{'is-invalid': typesubmit && type.payment_type.errors}">
                    <option [ngValue]="null" [disabled]="true" >Choose payment type</option>
                    <option [ngValue]=1 >Open</option>
                    <option [ngValue]=2 >Preset</option>
                  </select>
                  <div *ngIf="typesubmit && type.payment_type.errors" class="invalid-feedback">
                    <span *ngIf="type.payment_type.errors.required">Payment Type is required.</span>
                  </div>
                </div>
                <div class="mb-4 col-md-12" *ngIf="type.payment_type.value==2">
                  <div class="form-group">
                    <div formArrayName="preset_values">
                      <div class="inner mb-3 row" *ngFor="let data1 of  phonedata().controls; let i=index;"
                        [formGroupName]="i">
                        <div class="col-md-10 col-8">
                          <input type="number" class="inner form-control" formControlName="phonenumber" placeholder="Enter amount"
                            >
                        </div>
                        <div class="col-md-2 col-4">
                          <input type="button" class="btn btn-primary btn-block inner" value="Delete"
                            (click)="deletePhone(i)">
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="button" class="btn btn-success inner" value="Add Amount" (click)="addPhone()">
                  <div *ngIf="typesubmit && type.preset_values.errors" class="invalid-feedback">
                    <span *ngIf="type.preset_values.errors.mustMatch">Atleast one amount is required.</span>
                  </div>
                </div>
                <div class="form-group col-md-12 mb-0">
                  <div>
                    <button type="submit" class="btn btn-primary float-right">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary mr-3 float-right">
                      Reset
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title mb-3">
                Drive Page Preview
              </div>

              <div class="account-pages mb-5" >
  <div class="container bg-white" style="max-width: 500px;">
    <div class="row justify-content-center">
      <img [src]="img"  style="object-fit: cover; width:100%" id="fakeimg" height="150px"/><br/>
      <div   class="container">
        <h1 class="text-center mb-4"  [ngStyle]="{
          'color' :  type.color.value
        }" >
          <p class="font-weight-bold">{{type.heading.value}}</p>
        </h1>
        <div class="text-center">
          <img [src]="userlogo" style="object-fit: cover; max-width:50%" height="35px"/><br/>
        </div>
        <div class="text-center text-muted">
          <p class="mb-3">{{type.message.value}}</p>
          <p class="mb-3">{{type.message2.value}}</p>  
        </div>
        <h3 class="text-center">
          <p class="font-weight-bold">{{type.message3.value}}</p>
        </h3>
        <div class="text-center px-2 mb-5" *ngIf="type.payment_type.value==2">
          <button class="btn btn-xl mx-2  my-2  text-white"  style="    width: 38%;
          border-radius: 9px;" [ngStyle]="{
            'background-color' :  type.color.value
          }" *ngFor="let amount of getamounts(type.preset_values.value)">{{amount |currency :'AED '}}</button>
        </div>
        <div class="px-2 mb-5" *ngIf="type.payment_type.value==1">
          <form class="form-horizontal">
            <div class="form-group mb-3">
              <input type="number"  placeholder="Enter the amount here" class="form-control" id="email" placeholder=""
              />
             
            </div>
            <div class="mt-3">
              <button class="btn btn-block text-white"  [ngStyle]="{
                'background-color' :  type.color.value
              }"  type="submit">Checkout</button>
            </div>
            <div class="mt-4 text-center">
            </div>
          </form>
        </div>
        <ul  class="list-inline text-center">
          <li  class="list-inline-item"><a  href="javascript::void()" class="social-list-item bg-dark text-white border-dark"><i  class="bx bxl-facebook"></i></a></li>
          <li  class="list-inline-item"><a  href="javascript::void()" class="social-list-item bg-dark text-white border-dark"><i  class="bx bxl-twitter"></i></a></li>
          <li  class="list-inline-item"><a  href="javascript::void()" class="social-list-item bg-dark text-white border-dark"><i  class="bx bx-envelope"></i></a></li>
          <li  class="list-inline-item"><a  href="javascript::void()" class="social-list-item bg-dark text-white border-dark"><i  class="bx bx-share-alt"></i></a></li>
          <li  class="list-inline-item"><a  href="javascript::void()" class="social-list-item bg-dark text-white border-dark"><i  class="bx bxl-linkedin"></i></a></li>
        </ul>
        
        <div class="text-center text-muted">
          <p class="mb-3">IACAD Number : {{iacad_number}}</p>
        </div>
        <div class="text-center text-muted">
          <p class="mb-3">Powered by <img src="assets/fils-logo.png" class="ml-2" height=30/></p>
        </div>
      </div>
     
     </div>
  </div>

</div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </ng-template>
  <ng-template #qrTemplate let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">QR Code</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body text-center " >
              <a [href]='qrstring' target="_blank">
                <qrcode [qrdata]="qrstring" allowEmptyString="true" [width]="300"[cssClass]="qrstring" [errorCorrectionLevel]="'M'"></qrcode>
              </a>
              <button class="btn btn-primary" (click)="downloadQR()">Download</button>

            </div>
          </div>
        </div>
    
       
      </div>
    </div>
  </ng-template>
 
  <ng-template #templateDetail let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Details</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-centered table-striped table-nowrap">
                    <tr><th style="text-align:left !important">Created At</th><th style="text-align:left !important">Drive ID</th><th style="text-align:left !important">Charity</th><th style="text-align:left !important">Cause</th></tr>
                    <tr class="table-light"><td style="text-align:left !important">{{details.created_at |date}}</td><td style="text-align:left !important">{{details.drive_id}}</td><td style="text-align:left !important">{{details.charity}}</td><td style="text-align:left !important">{{details.cause_name}}</td></tr>
                    <tr>
                      <th style="text-align:left !important">Start Date</th><th style="text-align:left !important">End Date</th><th style="text-align:left !important">Merchant Fee</th><th style="text-align:left !important">Merchant</th>
                    </tr>
                    <tr class="table-light"><td style="text-align:left !important">{{details.start_date |date}}</td><td style="text-align:left !important">{{details.end_date |date}}</td><td style="text-align:left !important">{{details.vendor_commission |currency:'AED '}}</td><td style="text-align:left !important">{{details.vendor_name}}</td></tr>
                    <tr><th style="text-align:left !important">Status</th><th style="text-align:left !important">Color</th><th style="text-align:left !important">Payment Type</th><th style="text-align:left !important" ><span >Preset Values</span></th></tr>
                    <tr class="table-light"><td style="text-align:left !important"> 
                      <span  href="javascript:;"class="badge badge-danger font-size-12" *ngIf="details.approved==1">
                        Rejected
                      </span>
                      <span  href="javascript:;"class="badge badge-success font-size-12" *ngIf="details.approved==0">
                        Approved
                      </span></td><td style="text-align:left !important"><button class="btn  text-white" [ngStyle]="{
                        'background-color' :  details.color 
                      }">{{details.color}}</button></td><td style="text-align:left !important"><span *ngIf="details.payment_type==1">Open</span><span *ngIf="details.payment_type==2">Preset</span></td><td style="text-align:left !important" ><span *ngIf="details.payment_type==2">{{details.preset_values}}</span></td></tr>
                    <tr><th style="text-align:left !important">Image</th><th style="text-align:left !important">Message</th><th style="text-align:left !important">Message 2</th><th style="text-align:left !important">Message 3</th></tr>
                    <tr class="table-light"><td style="text-align:left !important"><img [src]="details.logo_path" width="100px"/></td><td style="text-align:left !important">{{details.message}}</td><td style="text-align:left !important">{{details.message2}}</td><td style="text-align:left !important">{{details.message3}}</td></tr>
                    
                   
                </table>
              </div>
            </div>
          </div>
        </div>
    
       
      </div>
    </div>
  </ng-template>