<div class="container-fluid">
    <div class="row">     
        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-3">
                    <app-stat title="Roundup Collection Count" sub=" Total" [value]="dashboardData['charityTypeCounts']['total_roundup_count'] |number" icon="bx bxs-report"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="One Time Collection Count" sub=" Total" [value]="dashboardData['charityTypeCounts']['total_onetime_count'] |number" icon="bx bxs-report"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Roundup Collection" sub=" Average" [value]="dashboardData['transactionStatsData']['average_roundup_transactions'] |currency:'AED ':'code':'1.2-2'" icon="bx bxs-report"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Onetime Transactions" sub=" Average" [value]="dashboardData['transactionStatsData']['average_onetime_transactions'] |currency:'AED ':'code':'1.2-2'" icon="bx bxs-report"></app-stat>
                </div>
              
                <div class="col-md-12 mb-2">
                    <h5>Total Collection Statistics </h5>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Amounts Collected" sub=" YTD" [value]="dashboardData['totalCollection']['ytd'] |currency:'AED ':'code':'1.2-2'" icon="bx bx-money"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Amounts Collected" sub=" QTD" [value]="dashboardData['totalCollection']['qtd'] |currency:'AED ':'code':'1.2-2'" icon="bx bx-money"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Amounts Collected" sub=" MTD" [value]="dashboardData['totalCollection']['mtd'] |currency:'AED ':'code':'1.2-2'" icon="bx bx-money"></app-stat>
                </div>
                <div class="col-sm-3">
                    <app-stat title="Amounts Collected"sub=" WTD" [value]="dashboardData['totalCollection']['wtd'] |currency:'AED ':'code':'1.2-2'" icon="bx bx-money"></app-stat>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Channel wise collection</h4>
                    <perfect-scrollbar style="height: 260px;">

                    <div class="table-responsive mt-4">
                        <table class="table table-centered mb-0">
                            <tbody>
                                <tr *ngFor="let data of channelCollection">
                                    <td>
                                        <p class="font-size-14 mb-1">{{data.label}}</p>
                                        <!--<p class="text-muted mb-0">Sed aliquam mauris.</p>-->
                                    </td>

                                    <td>
                                        <app-sellingchart [value]='data.series' ></app-sellingchart>
                                    </td>
                                    <td>
                                        <!--<p class="text-muted mb-1">Sales</p>-->
                                        <p class="mb-0">{{data.series}} %</p>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                   </perfect-scrollbar>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Top Causes</h4>
                    <perfect-scrollbar style="height: 260px;">
                    <div class="table-responsive mt-4">
                        <table class="table table-centered mb-0">
                            <tbody>
                                <tr *ngFor="let data of dashboardData['topCauses'] ">
                                    <td>
                                        <p class="font-size-14 mb-1">{{data.cause_name}}</p>
                                        <!--<p class="text-muted mb-0">Sed aliquam mauris.</p>-->
                                    </td>

                                    <td>
                                        <app-sellingchart [value]="data.collection" ></app-sellingchart>
                                    </td>
                                    <td>
                                        <!--<p class="text-muted mb-1">Sales</p>-->
                                        <p class="mb-0">{{data.collection}} %</p>
                                    </td>
                                </tr>
                                <tr >
                                    <td>
                                        <p class="font-size-14 mb-1">Others</p>
                                        <!--<p class="text-muted mb-0">Sed aliquam mauris.</p>-->
                                    </td>

                                    <td>
                                        <app-sellingchart [value]="dashboardData['otherCauses']" ></app-sellingchart>
                                    </td>
                                    <td>
                                        <!--<p class="text-muted mb-1">Sales</p>-->
                                        <p class="mb-0">{{dashboardData['otherCauses']}} %</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   </perfect-scrollbar>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Cause Type collection</h4>
                    <perfect-scrollbar style="height: 260px;">

                    <div class="table-responsive mt-4">
                        <table class="table table-centered mb-0">
                            <tbody>
                                <tr *ngFor="let data of causeTypeCollection">
                                    <td>
                                        <p class="font-size-14 mb-1">{{data.label}} </p>
                                        <!--<p class="text-muted mb-0">Sed aliquam mauris.</p>-->
                                    </td>

                                    <td>
                                        <app-sellingchart [value]="data.series" ></app-sellingchart>
                                    </td>
                                    <td>
                                        <!--<p class="text-muted mb-1">Sales</p>-->
                                        <p class="mb-0">{{data.series}} %</p>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Active Campaigns</h4>
                    <perfect-scrollbar style="height: 260px;">

                    <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                          <thead class="thead-light">
                            <tr>
                             
                              <th>Drive ID</th>
                              <th>Logo</th>
                             
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let merchant of dashboardData['activeCampaings']">
                              <td>
                                <a href="javascript: void(0);" class="text-body ">{{merchant.drive_id}} </a>
                              </td>
                              <td><div class="avatar-xs me-3"><span  class=""><img src="{{merchant.logo_path}}" alt="" height="50"></span></div></td>
                            </tr>
                          
                          </tbody>
                        </table>
                      
                      </div>
                      </perfect-scrollbar>
                </div>
            </div>
        </div>
       
      
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Active Causes</h4>
                    <perfect-scrollbar style="height: 260px;">

                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                          <tr>
                           
                            <th>Cause</th>     
                            <th>Category</th>                      
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cause of dashboardData['activeCauses']">
                            <td>
                              <a href="javascript: void(0);" class="text-body ">{{cause.cause_name}}</a>
                            </td>
                            <td>{{cause.category_name}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
        
       
    </div>
</div> <!-- container-fluid -->