<div class="home-btn d-none d-sm-block">
  <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Reset Password</h5>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <!-- <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                  </span>
                </div>
              </a> -->
            </div>
            <div class="p-2 mt-3">
              <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group">
                  <label>New Password</label>
                  <div>
                    <input type="password" class="form-control"autocomplete="new-password" maxlength="50" formControlName="new_password"
                      [ngClass]="{'is-invalid': typesubmit && type.new_password.errors}" />
                    <div *ngIf="typesubmit && type.new_password.errors" class="invalid-feedback">
                      <span *ngIf="type.new_password.errors.required">Password is required.</span>
                      <span *ngIf="type.new_password.errors.minlength">Password must be at least 10
                        characters.</span>
                        <span *ngIf="type.new_password.errors.pattern"> Password must contain alphabetics,numbers and special charactes !</span>
  
                    </div>
                  </div>
                  <div class="mt-2">
                    <input type="password" class="form-control" placeholder="Re-Type Password" formControlName="confirm_password"
                      [ngClass]="{'is-invalid': typesubmit && type.confirm_password.errors}" />
                    <div *ngIf="typesubmit && type.confirm_password.errors" class="invalid-feedback">
                      <span *ngIf="type.confirm_password.errors.required">This value is required.</span>
                      <span *ngIf="type.confirm_password.errors.mustMatch">This value should be the same.</span>
                    </div>
                  </div>
                </div>
              
                <div class="form-group mb-0">
                  <div>
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>

                  </div>
                </div>
              </form>
          
            </div>
           
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>© {{year}} Fils Connect.</p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
